.img-container {
  display: flex;
  flex-direction: row;
  height: relative;
  overflow-x: scroll;
  white-space: nowrap;
}

.img-fluid {
  width: 150vw;
  height: 200vh;
  vertical-align: top;
  padding: 20px;
}
